  body {
    margin: 0;
    padding: 0;
    font-family: "poppins";
    font-size: 18px;
    height: 100vh;
    background-color: #e7e7e7;
    color: #191919;
    display: flex;
    flex-direction: column;
  }

  header{
      font-size: 24px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      padding: 30px;
  }

  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  #gameboard-container{
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .cell{
    cursor: pointer;
    font-size: 44px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
  }

  .cell:first-child,
  .cell:nth-child(2),
  .cell:nth-child(3) {
    border-top: 2px solid;
  }

  .cell:first-child,
  .cell:nth-child(4),
  .cell:nth-child(7) {
    border-left: 2px  solid;
  }

  .cell:nth-child(3),
  .cell:nth-child(6),
  .cell:nth-child(9) {
    border-right: 2px solid;
  }

  .cell:nth-child(7),
  .cell:nth-child(8),
  .cell:nth-child(9) {
    border-bottom: 2px solid;
  }

  .display-area{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }

  .reset-btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  button{
    padding: 8px 16px;
    color: #fff;
    background-color: #000;
    border: none;
    cursor: pointer;
  }