@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', Helvetica, sans-serif;
  font-size: 16px;
  /* height: 100vh; */
  background-color: #EAEBEF;
  color: #14303F;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 60px;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
}

div.display-area {
  padding: 16px 60px;
  font-size: 1.4rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

#gameboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 400px;
  height: 400px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 44px;
  font-weight: 700;
  border: 1px solid;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: 2px solid;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: 2px  solid;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: 2px solid;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: 2px solid;
}

.display-area {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.reset-btn {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

button {
  padding: 16px 24px;
  color: #fff;
  background-color: #14303F;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}